@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css?family=Montserrat:700');

/* @keyframes cube {
  from {
    transform: scale(0) rotate(0deg) translate(-50%, -50%);   
    opacity: 1;
  }
  to {
    transform: scale(20) rotate(960deg) translate(-50%, -50%); 
    opacity: 0;
  }
}

.cube-animation {
  animation: cube 12s ease-in forwards infinite;
} */

.p20
{
  margin: 0rem !important;
 
}
.pt-32
{
  padding: 4.7rem 5rem 0 5rem !important;
}
.p2 {
  padding: 0rem 5rem 0 5rem !important;
    margin: -3rem !important;
}
.alt{
  padding-top: 8rem;
}

@keyframes floatUp {
  0% {
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
  }
  100% {
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
  }
}
